@font-face {
  font-family: "Manrope-Regular";
  src: url(../font/Manrope/Manrope-Regular.ttf);
}
@font-face {
  font-family: "Manrope-Medium";
  src: url(../font/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url(../font/Manrope/Manrope-SemiBold.ttf);
}
@media (max-width: 1024px) {
  .nav__logo .logo {
    width: 80px !important;
    height: 50px !important;
    background: #000;
  }
}
@media (max-width: 768px) {
  .nav__logo .logo {
    width: 80px !important;
    height: 50px !important;
    background: #000;
  }
  .nav__content .nav__list {
    display: none !important;
  }
  .nav__content .menu-btn {
    display: block;
  }
  .header .blok {
    display: none !important;
  }
}
.swiper {
  width: 400px;
  height: 100px;
  margin: 100px 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Manrope-Regular";
}

body {
  background: #F9F9F9;
}

:root {
  --base: #0E50E9;
  --text: #2D2D2D;
}

.menu-btn {
  background: transparent;
  border: none;
  outline: none;
}

.title-text {
  font-size: 18px;
  font-family: "Manrope-SemiBold";
  line-height: 23.4px;
  text-align: center;
}

.title-subtext {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--text);
}

.glob-link {
  padding: 7px 16px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  color: var(--text);
  font-size: 12px;
  line-height: 16px;
  font-family: "Manrope-Medium";
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 3;
  background: white;
  padding-top: 20px;
  width: 100%;
}
.nav__logo {
  display: flex;
  align-items: center;
  position: relative;
  gap: 25px;
}
.nav__logo .logo {
  width: 90px;
  height: 60px;
  background: #D9D9D9;
}
.nav__logo .nav__logo-link {
  color: var(--text);
}
.nav__content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px solid gray;
}
.nav__content .nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav__content .nav__list-link {
  color: var(--text);
}
.nav__content .nav__list-link:hover {
  color: var(--base);
}
.nav__content .nav__list + div {
  display: flex;
  gap: 15px;
}
.nav__content .link__lang {
  color: var(--base);
  font-weight: 600;
}

.showAnimate {
  animation: showAnim 0.5s linear;
}

.hideAnimate {
  animation: hideAnim 0.5s linear;
}

.menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background: whitesmoke;
  z-index: 2;
}
.menu__content {
  padding: 20px 0;
}
.menu__content .menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.menu__content .menu__list-link {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 2px solid black;
  text-align: center;
  color: var(--text);
  border-radius: 16px;
}

.card-advert {
  background: #EEF7FF;
  width: 280px;
  height: 365px;
  padding: 30px 30px 25px 30px;
  border-radius: 12px;
  color: #EEF7FF;
}
.card-advert .advert-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.card-advert .advert-content img {
  height: 180px;
  width: 220px;
}
.card-advert .advert-content .advert-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  text-align: center;
  color: var(--text);
}
.card-advert .advert-content a {
  margin-bottom: 6px;
  font-size: 400px;
  font-size: 12px;
  line-height: 16px;
  color: var(--text);
}
.card-advert .advert-content .advert-link {
  width: 220px;
  padding: 12px 41px;
  color: white;
  background: var(--base);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

.header {
  width: 100%;
  padding-top: 20px;
}
.header .blok {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header .blok__left {
  border-radius: 16px;
  height: 400px;
  width: 680px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0px;
  overflow: hidden;
  background: white;
  position: relative;
}
.header .blok__left-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: var(--text);
  text-align: center;
  margin-bottom: 20px;
}
.header .blok__left a {
  text-align: center;
  color: var(--base);
  font-weight: 600;
}
.header .blok__left .box {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 60px;
}
.header .blok__left .box img {
  min-width: 56px;
  width: 100%;
}
.header .blok__right {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .blok__right .blok__top {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #DEDEDE 100%), radial-gradient(37.37% 37.37% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(213, 213, 213, 0.2) 100%);
  border-radius: 16px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 25px;
  position: relative;
  overflow: hidden;
}
.header .blok__right .blok__top div {
  display: flex;
}
.header .blok__right .blok__top div:nth-child(1) {
  position: relative;
}
.header .blok__right .blok__top div:nth-child(1) img:nth-child(2) {
  position: absolute;
  left: 55px;
  bottom: 0;
}
.header .blok__right .blok__top div:nth-child(3) {
  position: absolute;
  right: -10px;
}
.header .blok__right .blok__top .top-center {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}
.header .blok__right .blok__bottom {
  width: 100%;
  height: 50%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF, #fd6fff);
}
.header .blok__right .blok__bottom .bottom__left {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .blok__right .blok__bottom .bottom__left .title-subtext {
  margin: 6px 25px;
}
.header .blok__right .blok__bottom .bottom__right {
  position: absolute;
  right: -30px;
  bottom: -5px;
}
.header .blok__right .blok__bottom .bottom__right img {
  width: 200px;
  height: 150px;
}

main .blok1 {
  margin: 90px 0;
  width: 100%;
}
main .blok1 .blok1__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .blok1 .blok1__content .blok1-top,
main .blok1 .blok1__content .block1-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
main .blok1 .blok1__content .blok1-card {
  background: white;
  width: 202px;
  height: 365px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
  border-radius: 12px;
}
main .blok1 .blok1__content .blok1-card .card-title {
  color: var(--text);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
main .blok1 .blok1__content .blok1-card .card-item .card-subtitle {
  display: flex;
  gap: 3px;
  font-size: 12px;
  font-size: 12px;
  line-height: 15px;
}
main .blok1 .blok1__content .blok1-card .card-item .card-subtitle span {
  color: #828282;
}
main .blok1 .blok1__content .blok1-card .card-text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: var(--base);
}

@keyframes showAnim {
  from {
    transform: translateY(-108%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes hideAnim {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-108%);
  }
}
.d-none {
  display: none !important;
}/*# sourceMappingURL=main.css.map */