@font-face {
    font-family: "Manrope-Regular";
    src: url(../font/Manrope/Manrope-Regular.ttf);
}
@font-face {
    font-family: "Manrope-Medium";
    src: url(../font/Manrope/Manrope-Medium.ttf);
}
@font-face {
    font-family: "Manrope-SemiBold";
    src: url(../font/Manrope/Manrope-SemiBold.ttf);
}